/* You can add global styles to this file, and also import other style files */

/* Set font family for all elements */
*{
    font-family: 'Lato', sans-serif;
}

/* Center content within a max-width of 1000px */
.content{
max-width: 1000px;
margin: auto;
}

/* Set position of searchbar and add margin */
.searchbar{
position: absolute;
top: 100px;
left: 100px;
margin: 25px 0;
}

/* Set style for bolded text */
b{
font-size: 46px;
color: #444444;
font-weight: 900;
}

/* Set style for text under tipology class */
.tipology{
font-size: 16px;
font-weight: 400;
padding-top: 15px;
color: #444444;
}

/* Set style for search bar */
.search{
margin: 50px 0;
width: 300px;
height: 35px;
border-radius: 8px;
border: 2px solid #00945E;
padding-right: 20px;
}

/* Set border color when search bar is in focus */
.search:focus {
border-color: #00945E;
}

/* Set style for all images */
img{
height: 300px;
object-fit: cover;
width: 100%;
}
.accordion{
    border-bottom: 1px solid #444444;
    line-height: 32px;
   
}
/* Set maximum height and add margin for accordion container */
.accordion-container {
    line-height: 32px;
    width: 90%;
max-height: 500px;
margin: 50px 0;
height: auto;
overflow-y: scroll;
}

/* Set display style and border for accordion header */
.accordion-header{
    
    line-height: 32px;
display: flex;
align-items: center;
justify-content: space-between;
padding:16px;
}

/* Set style for error messages */
.error{
font-size: 40px;
text-align: center;
padding: 80px;
}

/* Hide scrollbar */
::-webkit-scrollbar {
display: none;
}

.search-container {
    position: relative;
  }
.search-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('./assets/search.png');
    background-repeat: no-repeat;
    background-position: center;
  }